includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 2
    paths:
        - app
        - tests
    reportUnmatchedIgnoredErrors: false
    excludePaths:
        - app/Http/Controllers/vendor/Chatify/*
        