includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 2
    paths:
        - app
        - tests
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined static method Chatify\\Facades\\ChatifyMessenger::#'
        - message: '#has invalid return type App\\Http\\Controllers\\vendor\\Chatify\\Api\\JSON#'
          paths:
              - app/Http/Controllers/vendor/Chatify/Api/.*$
        - message: '#Variable \$favorites on left side of \?\? always exists and is not nullable#'
          paths:
              - app/Http/Controllers/vendor/Chatify/Api/.*$