includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 2
    paths:
        - app
        - tests
    ignoreErrors:
        - '#Call to an undefined static method Chatify\\Facades\\ChatifyMessenger::#'
